<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<div class="d-flex justify-content-between bg-light">
  <p style="padding:5px; margin: 8px 5vh;">Start Bootstrap</p>
  <button type="button" class="btn btn-primary" style=" margin:8px 5vh;">Primary</button>
</div>


<div id="landing">
  <div class="container">
  <div class="row text-center">
  <div class="col-10 mx-auto">
  <h1>Build a landing page for your business or project and generate more leads!</h1>
</div>
</div>

  <div class="row align-items-center" style="padding:20px;">
      <div class="col-6 mx-auto">
          <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
              </div>
            </div>
      </div>
      </div>

</div>
</div>



<div class="container-fluid bg-light" style="padding:100px;" >
    <div class="row text-center">
      <div style="padding:30px;" class="col-lg">
        <i class="fa fa-television" aria-hidden="true"></i>
        <h1>Fully Responsive</h1>
        <p>This theme will look great on any device, no matter the size!</p>
      </div>
      <div style="padding:30px;" class="col-lg">
        <i class="fa fa-file-o" aria-hidden="true"></i>
        <h1>Bootstrap 4 Ready</h1>
        <p>Featuring the latest build of the new Bootstrap 4 framework!</p>
      </div>
      <div style="padding:30px;" class="col-lg">
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        <h1>Easy to Use</h1>
        <p>Ready to use with your own content, or customize the source files!</p>
        </div>
    </div>
  </div>


<div class="container-fluid">
          <div class="row">

          <div class="col-xl-6 my-auto order-1" style="padding:2rem;">
            <h1>Fully Responsive Design</h1>
            <p>When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
          </div>
          <div class="col-xl-6 order-2" style="background-image:url('assets/images/bg1.jpg');background-size:cover;padding: 35vh;">
          </div>

          <div class="col-xl-6 order-3" style="background-image:url('assets/images/bg2.jpg');background-size:cover;padding: 35vh;">

            </div>
            <div class="col-xl-6 my-auto order-4"  style="padding:2rem;">
              <h1>Updated For Bootstrap 4</h1>
              <p>Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>
            </div>

            <div class="col-xl-6 my-auto order-5"  style="padding:2rem;">
                <h1>Easy to Use and Customize</h1>
                <p>Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
              </div>
              <div class="col-xl-6 order-6" style="background-image:url('assets/images/bg3.jpg');background-size:cover;padding: 35vh;">

              </div>

        </div>
    </div>


    <div class="container-fluid bg-light text-center" style="padding:100px;">
<h3>What people are saying...</h3>
        <div class="row">

          <div style="padding:30px;" class="col-lg">
              <img src="assets/images/p3.jpg" style="width:12rem;" class="img-fluid rounded-circle mb-3" alt="">
            <h2>Margaret E.</h2>
            <p class="font-weight-light" style="font-size:16px;">"This is fantastic! Thanks so much guys!"</p>
          </div>
          <div style="padding:30px;" class="col-lg">
            <img src="assets/images/p2.jpg" style="width:12rem;" class="img-fluid rounded-circle mb-3" alt="">
            <h2>Fred S.</h2>
            <p class="font-weight-light" style="font-size:16px;">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
          </div>
          <div style="padding:30px;" class="col-lg">
            <img src="assets/images/p1.jpg" style="width:12rem;" class="img-fluid rounded-circle mb-3" alt="">
            <h2>Sarah W.</h2>
            <p class="font-weight-light" style="font-size:16px;">"Thanks so much for making these free resources available to us!"</p>
            </div>
        </div>
      </div>


<section id="signup">
  <div class="container">
      <div class="row text-center">
      <div class="col">
      <h3>Ready to get started? Sign up now!</h3>
    </div>
    </div>

      <div class="row align-items-center" style="padding:20px;">
          <div class="col-6 mx-auto">
              <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                  </div>
                </div>
          </div>
          </div>

    </div>
  </section>


  <div id="footer" class="footer bg-light">
<div class="container">
  <div class="row">

<div class="col-6 my-auto text-center text-lg-left">
<ul class="list-inline">
  <li class="list-inline-item"><a href="#">About</a></li>
  <li class="list-inline-item">⋅</li>
  <li class="list-inline-item"><a href="#">Contact</a></li>
  <li class="list-inline-item">⋅</li>
  <li class="list-inline-item"><a href="#">Terms of Service</a></li>
  <li class="list-inline-item">⋅</li>
  <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
  <li class="list-inline-item">⋅</li>
</ul>
<p style="font-size:12.5px;">© Your Website 2018. All Rights Reserved.</p>
</div>


<div class="col-6 my-auto text-center text-lg-right">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-twitter fa-2x fa-fw"></i>
            </a>
          </li>
        <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
        <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
      </ul>
</div>



  </div>
</div>
    </div>
